@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    
@if(User.Identity.IsAuthenticated){
    <div style="text-align: right;">
        <a class="btnhower" href="/CreatePost">Create topic &#xFF0B;</a>
    </div>
    <div style="align-items: center; margin: 20px;"> 
        @foreach(var post in Model.RecentPosts){
            <div class="card">
                <div class="card-header">
                    <a href="">@post.ID</a>
                </div>
                <div class="card-body">
                    <p>@post.Text</p>
                </div>
                <div class="card-footer">
                    <p>Created by:  @post.CreatorID</p>
                    <p>Created at:  @post.DateOfCreation</p>
                </div>
            </div>
        }
    </div>
    
}else{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>This page is main page of @ViewData["Name"]</h2>
        <p>
            This Social network was created as a project for my studies.
            <br>
            You can see all data after logging in.
        </p>
    </div>
}