@page
@model My_SocNet_Win.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(User.Identity.IsAuthenticated)
{
    <div style="text-align: right;">
        <a class="btnhower" href="/CreatePost">Create topic &#xFF0B;</a>
    </div>
    <div style="align-items: center; margin: 20px;"> 
        @foreach(var post in Model.RecentPosts)
        {
            if (post == null) continue;
            <div style="background-color: #2a2b38; color: white; margin: 10px;", class="card">
                <a href="Index" style="text-decoration: none; color: inherit;">
                    <div class="card-header">
                        <h3>@post.Title</h3>
                    </div>
                </a>
                <div class="card-body">
                    <p>@post.Text</p>
                </div>
                <div class="card-footer">
                    <p>Created by: @Model.UserNames[post.CreatorID]</p>
                    <p>Created at: @post.DateOfCreation</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h2>This page is main page of @ViewData["Name"]</h2>
        <p>
            This Social network was created as a project for my studies.
            <br>
            You can see all data after logging in.
        </p>
    </div>
}